# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
azure-core==1.24.0
azure-functions==1.7.2     
azure-storage-blob==12.12.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
cryptography==37.0.2
ecdsa==0.17.0
flake8==5.0.4
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
isodate==0.6.1
matplotlib==3.6.1
msrest==0.6.21
mysql-connector-python==8.0.26
mysqlclient==2.0.3
numpy==1.21.2
oauthlib==3.2.0
packaging==21.3
pandas==1.3.3
pluggy==1.0.0
protobuf==3.18.1
psycopg2-binary==2.9.1
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.9.1
pycparser==2.21
PyMySQL==1.0.2
pyparsing==3.0.8
pytest==7.1.2
python-dateutil==2.8.2
python-docx==0.8.11
python-jose==3.3.0
pytz==2021.3
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.7